version: '2'
services:
    influxdb:
        image: influxdb
        environment:
            - INFLUXDB_USER={{ influx_user }}
            - INFLUXDB_USER_PASSWORD={{ influx_password }}
            - INFLUXDB_DB={{ influx_database }}
            - INFLUXDB_READ_USER=grafana
            - INFLUXDB_READ_USER_PASSWORD={{ influx_grafana_password }}
        ports:
            - "8086:8086"
        networks:
            - logging
    grafana:
        image: grafana/grafana
        ports:
            - "80:3000"
        networks:
            - logging

networks:
    logging:
        external: true
