version: '2'
services:
    influxdb:
        image: influxdb
        restart: unless-stopped
        environment:
            - INFLUXDB_USER={{ influx_user }}
            - INFLUXDB_USER_PASSWORD={{ influx_password }}
            - INFLUXDB_DB={{ influx_database }}
            - INFLUXDB_READ_USER=grafana
            - INFLUXDB_READ_USER_PASSWORD={{ influx_grafana_password }}
        ports:
            - "8086:8086"
        volumes:
            - influx-storage:/var/lib/influxdb
        networks:
            - logging

    grafana:
        image: grafana/grafana
        restart: unless-stopped
        environment:
            - GF_SECURITY_ADMIN_PASSWORD={{ grafana_password }}
        ports:
            - "80:3000"
        volumes:
            - grafana-storage:/var/lib/grafana
        networks:
            - logging

volumes:
    grafana-storage:
    influx-storage:

networks:
    logging:
        external: true
